<!-- Index of kittens -->

<h1>All Kittens</h1>


<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten_path(kitten), class: "btn btn-primary" %>
      <%= button_to "Delete", kitten_path(kitten), method: :delete, data: { confirm: "Are you sure you want to delete #{kitten.name}?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>

<%= link_to "New Kitten", new_kitten_path, class: "btn btn-primary" %>
